@import './theme';

// Global
$font-size-root: 18px;
$body-font-family: 'Roboto', Helvetica, Arial, sans-serif;

// v-btn
$btn-border-radius: 0;
$btn-outline-border-width: 1px;

//================================================
//				APP VARIABLES
//================================================
$column-width: 38;
$letter-height: 38;

$puzzle-background: white;
// $letter-column-border: 1px solid md-get-color-by-theme('light', 'text-primary') !default;
$letter-column-border: 1px solid black;
// $letter-column-color: md-get-color-by-theme('dark', 'text-primary') !default;
$letter-column-color: black;
$letter-font-size: 1.25rem !default;
$letter-column-selected-color: green;
