<div class="qf-answer-grid">
	<button
		class="qf-answer-square btn btn-default btn-large"
		ng-repeat="square in grid track by $index"
		ng-click="answerGridCtrl.onClickAnswerSquare($index)"
		ng-class="{
			'qf-reserved': square.isReserved,
			'qf-available': answerGridCtrl.puzzleModel.isLetterSelectedInColumn($index),
			'qf-unavailable': !answerGridCtrl.puzzleModel.isLetterSelectedInColumn($index)
		}"
		ng-disabled="!answerGridCtrl.pc.isEditable && !answerGridCtrl.puzzleModel.isLetterSelectedInColumn($index) && !square.letter"
	><span class="qf-answer-letter">{{square.letter}}</span></button>
</div>
