.qf-answer-grid {
	@include clearfix;
	display: block;
	line-height: 0;
	user-select: none;

	.qf-answer-square {
		border: 1px solid get-color(black);
		height: #{$letter-height}em;
		width: #{$column-width}em;

		&.qf-reserved {
			background-color: get-color(black);
			opacity: 1; // Override .btn[disabled]
		}

		&.qf-available:not(.qf-reserved) {
			background-color: get-color('schoolbus');

			&:hover {
				background-color: get-color(white);
			}
		}

		&.qf-unavailable:not(.qf-reserved) {
			// background-color: get-color('alto');
		}

		.qf-answer-letter {
			font-size: 3rem;
			height: 100%;
			line-height: 1;
			width: 100%;
		}
	}

	.btn,
	.btn-default {
		&.disabled,
		&[disabled] {
			&:hover,
			&:focus {
				border-color: inherit;
			}
		}

		&:not(.qf-reserved) {
			&:active,
			&:hover,
			&:focus {
				background-color: inherit;
			}
		}
	}
}
