<div class="qf-answer-grid">
	<button
		class="qf-answer-square btn btn-default btn-large"
		ng-repeat="square in grid track by $index"
		ng-click="answerGridCtrl.onClickAnswerSquare($event, $index)"
		ng-class="{
			'qf-reserved': square.isReserved,
			'qf-available': answerGridCtrl.isSelectedInColumn($index),
			'qf-unavailable': !answerGridCtrl.isSelectedInColumn($index),
			'qf-filled': square.letter
		}"
		ng-disabled="!answerGridCtrl.pc.isEditable && (!answerGridCtrl.isSelectedInColumn($index) || square.isReserved)"
	><span class="qf-answer-letter">{{square.letter}}</span></button>
</div>
