<div class="qf-answer-grid">
	<button
		class="qf-answer-square btn btn-default btn-large"
		ng-repeat="grid in $parent.puzzleCtrl.answerGrid track by $index"
		ng-click="answerGridCtrl.onClickAnswerSquare($index)"
		ng-class="{
			'qf-reserved': grid.isReserved,
			'qf-available': answerGridCtrl.puzzleModel.isLetterSelected($index),
			'qf-unavailable': !answerGridCtrl.puzzleModel.isLetterSelected($index),
			'has-letter': grid.letter
		}"
		ng-disabled="answerGridCtrl.puzzleModel.id && !answerGridCtrl.puzzleModel.isLetterSelected($index) && !grid.letter"
	><span class="qf-answer-letter">{{grid.letter}}</span></button>
</div>
