<form ng-show="!myForm.$submitted" class="form-horizontal" name="myForm">
	<div class="form-group form-group-lg row">
		<label class="control-label col-xs-2" for="difficulty">Difficulty</label>
		<div class="col-xs-10">
			<select
				class="form-control qf-input-rows"
				name="difficulty"
				ng-model="difficulty"
				ng-options="option.name for option in formOptions.difficulty"
			></select>
		</div>
	</div>
	<div class="form-group form-group-lg row">
		<label class="col-xs-2 control-label" for="rows">Rows</label>
		<div class="col-xs-10">
			<select
				class="form-control qf-input-rows"
				name="numRows"
				ng-model="numRows"
				ng-options="option.name for option in formOptions.rows"
			></select>
		</div>
	</div>
	<div class="form-group form-group-lg row"
		ng-class="{
			'has-error': myForm.puzzleTitle.$invalid,
			'has-success': myForm.puzzleTitle.$valid
		}">
		<label class="control-label col-xs-2" for="puzzleTitle">Title</label>
		<div class="col-xs-10">
			<input
				ng-model="puzzleTitle"
				ng-maxlength="128"
				ng-minlength="8"
				panther-parser
				panther-type="alpha"
				class="form-control qf-input-title"
				name="puzzleTitle"
				placeholder="Puzzle title"
				type="text"
				maxlength="128"
				required
			>
			<span class="form-control-feedback">
				<span class="glyphicon glyphicon-ok" ng-show="myForm.puzzleTitle.$valid" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-remove" ng-show="myForm.puzzleTitle.$invalid" aria-hidden="true"></span>
			</span>
			<span class="help-block" ng-show="myForm.puzzleTitle.$invalid">
				Enter a valid Title
			</span>
		</div>
	</div>
	<div class="form-group form-group-lg row"
		ng-class="{
			'has-error': myForm.scrambled.$invalid,
			'has-success': myForm.scrambled.$valid
		}">
		<label class="control-label col-xs-2" for="scrambled">Scrambled</label>
		<div class="col-xs-10">
			<textarea
				ng-model="scrambledLetters"
				ng-minlength="16"
				panther-parser
				panther-type="alpha"
				class="form-control qf-input-letters"
				name="scrambled"
				placeholder="Scrambled Letters"
				rows="4"
				required
			></textarea>
			<span class="form-control-feedback">
				<span class="glyphicon glyphicon-ok" ng-show="myForm.scrambled.$valid" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-remove" ng-show="myForm.scrambled.$invalid" aria-hidden="true"></span>
			</span>
		</div>
	</div>
	<div class="form-group form-group-lg row">
		<div class="col-xs-8"></div>
		<div class="col-xs-4">
			<button
				type="submit"
				class="btn btn-lg btn-primary col-xs-12 qf-setup-puzzle"
				ng-click="puzzleFormCtrl.setup({
					letters: scrambledLetters,
					title: puzzleTitle,
					numRows: numRows.value,
					difficulty: difficulty.value
				})"
				ng-disabled="myForm.$invalid"
			><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Setup</button>
		</div>
	</div>
</form>
