<form name="puzzleForm" ng-show="!puzzleForm.$submitted">
	<div class="form-group">
		<label class="sr-only col-form-label" for="scrambled">Scrambled</label>
		<input
			ng-model="puzzle.scrambledLetters"
			ng-minlength="16"
			panther-parser
			panther-type="alpha"
			class="form-control input-lg qf-input-letters"
			name="scrambled"
			placeholder="Scrambled Letters"
			type="text"
			required
		>
	</div>
	<div class="form-group row">
		<div class="col-xs-6">
			<label class="sr-only col-form-label" for="rows">Rows</label>
			<input
				ng-model="puzzle.numRows"
				ng-maxlength="2"
				panther-parser
				class="form-control input-lg qf-input-rows"
				name="numRows"
				placeholder="Rows (4)"
				type="text"
				maxlength="2"
			>
		</div>
		<div class="col-xs-6">
			<button type="submit" class="btn btn-lg btn-default qf-setup-puzzle" ng-click="puzzle.setupPuzzle(puzzle.scrambledLetters, puzzle.numRows)" ng-disabled="puzzleForm.$invalid">Setup</button>
		</div>
	</div>
</form>
