@import '~vue-material/dist/theme/engine';

//================================================
//				APP VARIABLES
//================================================
$column-width: 3.5;
$letter-height: 3.5;

$puzzle-background: md-get-palette-color(white, 200);
$letter-column-border: 1px solid md-get-color-by-theme('light', 'text-primary') !default;
$letter-column-color: md-get-color-by-theme('dark', 'text-primary') !default;
$letter-font-size: 1.25rem !default;
$letter-column-selected-color: md-get-palette-color(green, 500);
