
body {
	height: 100%;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	text-align: center;
}

.v-app {
	// border: 1px solid md-get-palette-color(black, 200);
	height: 100%;
}
