$letter-column-border: 1px solid get-color(black) !default;
$letter-column-color: $body-bg !default;
$letter-column-font-size: rem-calc(28) !default;
$letter-column-selected-color: get-color('fountain');

.qf-letter-columns {
	@include clearfix;

	border-bottom: $letter-column-border;
	user-select: none;

	.qf-column {
		border: $letter-column-border;
		border-bottom: 0;
		width: #{$column-width}em;

		.qf-letter {
			color: $letter-column-color;
			display: block;
			font-size: $letter-column-font-size;
			height: #{$letter-height / 2}em;
			padding: 0; // Override .btn
			position: relative;
			transition: color .4s linear;
			width: 100%;

			&[disabled] {
				color: lighten($letter-column-color, 75);
			}

			&::after {
				// border-bottom: 0;
				border-bottom: .125em solid get-color('red-light');
				content: '';
				height: 1.25em;
				left: 0;
				position: absolute;
				right: 0;
				top: 50%;
				transform: scaleX(0);
				transform-origin: 0% 50%;
				transition: transform .3s linear;
			}

			&.used {
				&::after {
					transform: translateY(-50%) rotate(-25deg) scale(1);
				}
			}

			&.selected {
				background-color: $letter-column-selected-color;
			}
		}
	}
}
