$letter-column-color: $body-bg;
$letter-column-font-size: 1.8rem;
$letter-column-selected-color: get-color('fountain');

.qf-letter-columns {
	@include clearfix;

	user-select: none;

	.qf-column {
		border: 1px solid get-color(black);
		border-bottom: 0;
		width: #{$column-width}em;

		.qf-letter {
			color: $letter-column-color;
			display: block;
			font-size: $letter-column-font-size;
			height: #{$letter-height / 2}em;
			padding: 0; // Override .btn
			transition: color .3s ease;
			width: 100%;

			&.inactive,
			&[disabled] {
				color: lighten($letter-column-color, 75);
			}

			&.used {
				position: relative;

				&::after {
					color: get-color('red-light');
					content: '/';
					font-size: inherit;
					left: 50%;
					position: absolute;
					top: 10%;
					transform: translateX(-50%) rotate(25deg);
				}
			}

			&.selected {
				background-color: $letter-column-selected-color;
			}
		}
	}
}
