<div class="qf-letter-columns">
	<div class="qf-column" ng-repeat="column in puzzle.letterColumns track by $index" ng-init="col = $index">
		<button
			class="qf-letter btn btn-default"
			ng-repeat="letter in column track by $index" ng-init="pos = col + puzzleModel.columnSize * $index"
			ng-class="{
				inactive: selected.position >= 0 && selected.position != pos,
				selected: selected.position == pos
			}"
			ng-disabled="puzzle.agModel.containsLetter(pos) || letter == ' '"
			ng-click="letterColumnsCtrl.isClickable(pos) && letterColumnsCtrl.onLetterClick(letter, col, $index, pos)"
		>{{letter}}</button>
	</div>
</div>
