$column-width: 3.5;
$letter-height: 3.5;

.qf-puzzle {
	@include clearfix;

	background-color: map-get($colors, 'white');
	display: inline-block;
	margin: 0 auto;

	.qf-column {
		float: left;
		text-align: center;
	}

	.qf-letter-columns {
		@include clearfix;

		.qf-column {
			border: 1px solid map-get($colors, 'black');
			border-bottom: 0;
			width: #{$column-width}em;

			.qf-letter {
				display: block;
				font-size: 1.8rem;
				font-weight: 600;
				height: #{$letter-height / 2}em;
			}
		}
	}

	.qf-answer-grid {
		display: block;

		.qf-row {
			@include clearfix;

			display: block;
			line-height: 0;
		}

		.qf-answer-square {
			border: 1px solid map-get($colors, 'black');
			display: inline-block;
			height: #{$letter-height}em;
			width: #{$column-width}em;

			&.qf-reserved {
				background-color: map-get($colors, 'black');
			}
		}
	}
}
